{% extends "base.html" %} {% block content %}
<h2>Search for Flights</h2>
<form action="/search" method="get">
  <label for="from_airport">From</label>
  <select name="from_airport" id="from_airport">
    {% for airport in airports %}
    <option value="{{ airport.code }}">{{ airport.name }}</option>
    {% endfor %}
  </select>
  <label for="to_airport">To</label>
  <select name="to_airport" id="to_airport">
    {% for airport in airports %}
    <option value="{{ airport.code }}">{{ airport.name }}</option>
    {% endfor %}
  </select>
  <label for="date">Date</label>
  <input type="date" name="date" required />
  <button type="submit">Search Flights</button>
</form>
{% endblock %}
